* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #141d1d;
  --main-color: #f0e9de;
  --secn-color: #447bb5;
  --ff: "Rubik", sans-serif;
  --ff2: "Spline Sans Mono", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: var(--ff2);
  font-weight: 500;
}
body {
  font-family: var(--ff);
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}
header, main, footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
}
header {
  border-bottom: 1px solid black;
}
.brand {
  display: flex;
  justify-content: center;
}
.brand img {
  width: 1rem;
  margin-right: 0.5rem;

}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  padding: 0 0.5rem;
}
.nav-item a {
  color: black;
  text-decoration: none;
}
.site-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}
.projects, .work-exp, .education, .reviews {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  > h2 {
    padding: 1rem 0;
  }
}
.projects-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.projects-list .pl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  width: 90%;
  border: 1px solid black;
  border-radius: 6px;
  margin: 0.4rem 0;
}
.work-exp .we-item {
  border: 1px solid black;
  border-radius: 6px;
  width: 90%;
  padding: 1.4rem;
  margin: 0.4rem 0;
}
.educ-program, .educ-course {
  width: 90%;
  list-style-position: inside;
  padding: 0.6rem 0;
}
.educ-course {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.8rem;
}
.reviews blockquote {
  border: 1px solid black;
  border-radius: 6px;
  padding: 1.4rem;
}
.reviews blockquote footer {
  display: block;
}
/* projects.html */
.this-projects, .this-articles {
  h1 {
    margin: 2rem 0;
  }
}
.this-projects-list, .this-articles-list {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}
.tp-item {
  border: 1px solid black;
  border-radius: 6px;
  margin: 1rem 0;
  padding: 1.2rem;
  > h2 {
    margin-bottom: 0.6rem;
  }
}
/* articles.html */
.this-articles-list {
  align-items: center;
}
.ta-item {
  padding: 1.2rem 0;
  width: 90%;
border-bottom: 1px solid black;
}
@media screen and (max-width: 480px) {
  header, main {
    flex-direction: column;
    align-items: center;
  }

  .brand {
    flex-direction: column;
    align-items: center;
  }

  .site-banner {
    min-height: 5rem;
  }
  .projects, .work-exp, .education, .reviews{
    align-items: center;
    width: 100%;
  }
  .projects-list {
    align-items: center;
  }
  .reviews {
    flex-direction: column;
  }
  .reviews blockquote {
    width: 90%;
    margin: 0.4rem 0;
  }
  /* mobile - projects.html */
  .this-projects-list {
    align-items: center;
  }
  .tp-item {
    width: 90%;
  }
  /* mobile - articles.html */
}

@media screen and (min-width: 481px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .site-banner {
    min-height: 10rem;
  }
  .projects, .work-exp, .education, .reviews {
    width: 45%;
    align-self: start;
    align-items: center;
  }
  .projects-list {
    align-items: center;
  }
  .reviews blockquote {
    margin: 0.6rem 0;
  }
  /* tablet - projects.html */
  .this-projects-list {
    flex-direction: row;
    justify-content: flex-start;
  }
  .tp-item {
    margin: 1rem 2.5%;
    width: 45%;
    padding: 2.4rem 1.2rem;
  }
  /* tablet - articles.html */
  .ta-item {
    padding: 2rem 0;
  }
}
@media screen and (min-width:1024px) {

  .site-banner {
    min-height: 14rem;
  }
  .projects, .work-exp, .education {
    width: 28%;
  }
  .reviews {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    > h2 {
      width: 95%;
    }
  }
  .reviews blockquote {
    width: 30%;
  }
  /* desktop - projects.html */
  .tp-item {
    margin: 1rem 1.5%;
    width: 30%;
  }
  /* desktop - articles.html */
  .ta-item {
    padding: 3rem 0;
  }
}
