* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #f2f4f6;
  --primary-color: #a3a3a3;
  --secondary-color: #1e1e1e;
  --faint-color: #535353;
  --add-color: #406af4;
  --subtract-color: #ff9500;
  --reset-color: #ff2d55;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 22rem;
  margin: 0 auto;
}

h1 {
  margin: 4rem 0;
}

.count-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid var(--faint-color);

  aspect-ratio: 1 / 1;
  width: 45%;
  border-radius: 50%;

  > .count {
    font-size: 4rem;
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;

  width: 30%;

  > #increment {
    background-color: var(--add-color);
  }

  > #decrement {
    background-color: var(--subtract-color);
  }

  > #increment,
  > #decrement {
    aspect-ratio: 4 / 3;
    width: 45%;
  }

  > #reset {
    aspect-ratio: 5 / 2;
    width: 100%;
    margin-top: 1rem;
    background: var(--reset-color);
  }

  > #reset,
  > #increment,
  > #decrement {
    border: none;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-color);
  }

  > #reset:active,
  #increment:active,
  #decrement:active {
    transform: translateY(2px);
  }
}

@media (max-width: 439px) {
  main {
    width: 100%;
  }
}
